<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('HoraInicialDia') }} :</h6>
                        {{ item.tarifa.horaInicialDia }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('HoraFinalDia') }} :</h6>
                        {{ item.tarifa.horaFinalDia }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PrecioHoraFraccion') }} :</h6>
                        {{ item.tarifa.precioHoraFraccion }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PrecioDia') }} :</h6>
                        {{ item.tarifa.precioDia }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('HoraInicialNoche') }} :</h6>
                        {{ item.tarifa.horaInicialNoche }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('HoraFinalNoche') }} :</h6>
                        {{ item.tarifa.horaFinalNoche }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MultaNoche') }} :</h6>
                        {{ item.tarifa.multaNoche }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('MinutosTolerancia') }} :</h6>
                        {{ item.tarifa.minutosTolerancia }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('TipoVehiculo') }}) {{ l('Nombre') }} :</h6>
                        {{ item.tipoVehiculoNombre }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
